/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.active {
  font-weight: bold;
}

.kittens {
  width: 25%;
  float: left;
}

.kitten {
  width: 60%;
  float: left;
  /*border: 1px solid black;*/
}

.image {

}

.description {
  text-align: justify;
}